.card__body {
  /* display:flex; */
  width: 120px;
  height: 250px;
  background-color: beige;
  border-radius: 5px;
  /* flex-wrap: wrap; */
  justify-content: center;
  border: 3px solid transparent; /* Add transparent border */
  box-sizing: border-box;
}
.card__contents {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.condition__indicator {
  font-size: xx-large;
}

.heat__indicator {
  color: red;
}

.wind__indicator {
  color: orange;
}

.card__body:hover {
  width: 120px;
  height: 250px;
  border: 0;
  box-sizing: border-box;
  border: 3px solid lightcoral;
}

.btn__hourly__content {
  border: 0;
  color: grey;
  cursor: pointer;
  background-color: beige;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
