.card__body{
    width:120px;
    height:250px;
    background-color: beige;
    border-radius: 5px;
}

.card__contents{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.condition__indicator {
    font-size: xx-large;
}

.heat__indicator {
    color: red;
}

.wind__indicator {
    color:orange;
}

.card__body :hover {
    width: 130px;
    height: 260px;
    border-radius: 5px;
}